
# Ignore fastf1 library cache (big file)
fastf1_cache/cache/

wandb/
f1_gym/deterministic/dqn_logs/tensorboard/
f1_gym/deterministic/dqn_models/wandb/
f1_gym/stochastic/dqn_logs/tensorboard/
f1_gym/stochastic/dqn_models/wandb/