
fastf1_cache/cache/

*.venv/

wandb/
f1_gym/models/wandb/
f1_gym/logs/tensorboard/
f1_gym/logs/eval/
f1_gym/models/checkpoints_ppo/
f1_gym/models/best_ppo/
f1_gym/visualisation/race_plots.py
opponent(legacy)/models/best_ppo/
opponent(legacy)/models/checkpoints_ppo/
opponent(legacy)/logs/tensorboard/
opponent(legacy)/logs/eval/

__pycache__/
.DS_Store/

verify.py